body{
	background-color: #97b9ed;
 
}
.navbar{
	width: 100%;
	height: 60px;
	background-color:#a4cce8;
}
.title{
  width:50%;
  height: 50px;
  text-align: center;
  float: left;
}
a{
	width: 20%;
	height: 60px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: white;
	display: inline-block;
	border: 2px solid red;
	border-radius: 5px;
	background-color:#bbc2cc;
	float: right;
}

.form,.btn{
 /*margin:100px;*/
	width: 25%;
	align-items: center;
	align-content: center;
	text-align: center;
	background-color:#bbc2cc;
	box-sizing: border-box;
	border: 2px solid red;
	font-size: 1.4vw;
}
.btn{
	width: 30%;
}
.form-control{
	width: 60%;
 align-items: center;
 align-content: center;
}
h1{
	font-size: 2.5vw;
}